<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='svg/icon.svg') }}" type="image/x-icon">
  {% block head %}{% endblock head %}

  {% if title %}
    <title>PyBlog - {{ title }}</title>
  {% else %}
    <title>PyBlog</title>
  {% endif %}

</head>
<body>

{% block content %}{% endblock content %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
<script src="{{ url_for('static', filename='js/base.js') }}"></script>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <script>
      {% for category, message in messages %}
        showToast('{{ category }}', '{{ message }}')
      {% endfor %}
    </script>
  {% endif %}
{% endwith %}

{% block script %}{% endblock script %}
</body>
</html>